@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This site was created by Brian VanderLuitgaren as a coding exercise in the interview process for AccuLynx.</p>
<p>He did a pretty good job and should definitely be presented with an offer to join the team. :)</p>
