
@model AcceptedAnswerGuesser.Models.QuestionModel.Questions
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Select the title of a recent question posed on StackOverflow for which you would like to guess the accepted answer: </p>
</div>

@foreach(var item in Model.Items)
{
    <div>
        @Html.ActionLink(item.Title,"Question","Home",new{id=item.QuestionId, body=item.Body},null);
    </div>
}